@font-face {
    font-family: NetflixFont;
    src: url(/assets/font/netflix-sans-cufonfonts/NetflixSansBlack.ttf);
    src: url(/assets/font/netflix-sans-cufonfonts/NetflixSansBold.ttf);
    src: url(/assets/font/netflix-sans-cufonfonts/NetflixSansIcon.ttf);
    src: url(/assets/font/netflix-sans-cufonfonts/NetflixSansLight.ttf);    
    src: url(/assets/font/netflix-sans-cufonfonts/NetflixSansMedium.ttf);    
    src: url(/assets/font/netflix-sans-cufonfonts/NetflixSansRegular.ttf);    
    src: url(/assets/font/netflix-sans-cufonfonts/NetflixSansThin.ttf);    

}


.container-header-nav { /*barra superior*/
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    height: 3.5rem;
    overflow: hidden;
    background-color: #14141486;
    position: fixed;
    top: 1;
}

.container-header-nav:hover{
    background-color: #141414;
}

.flex-item1 {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

/*navegação*/
ul{
    margin-left: 6rem;
}
li {
    display: block;
    float: left;
    padding: 0.5rem;
    margin-right: 1rem;
}

li:hover, a:hover, .flex-item2 span:hover, .btnSearch:hover, .flex-item2 a:hover {
    cursor: pointer;
    color: var(--vermelho);
}
li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container-logo a{ /*logo-netflix*/
    display: block;
    background: url(/assets/img/netflix-logo.png);
    background-size: cover;
    height: 1.5rem;
    width: 5.5rem;
}

.container-header-nav img{
    width: 100%;
    height: auto;
    
}

.flex-item2 {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    
}

.flex-item2 i {
    margin-left: 1.5rem;
}

.flex-item2 a{
    color: #fff;
}

.flex-item2 .container-logo-perfil{ /*logo-perfil*/
    background: url(/assets/img/logo-perfil.png);
    background-size: cover;
    width: 100%;
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
}
.flex-item2 span{
    color: #fff;
    font-weight:600;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-left: 0.5rem;
}

/*Search*/
.search{
    margin-right: 3rem;

}
.inputSearch{
    border: none;
    background-color: #1414142a;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 3.8rem;
    
}
::placeholder{
    color: #fff;
}

.inputSearch:hover{
    width: 6rem;
    transition: 0.3s;
}
/*button*/
.btnSearch{
    width: 1rem;
    color: white;
    background-color: #1414142a;
    border: none;
}

