:root{
    --vermelho: #e50914;
    --preto: #141414;
    --pretoTransparente: #14141486;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'NetflixFont';
}

body {
    background-color: #141414;
    color: #fff;
    
}

main{
    display: flex;
}
/*filme principal*/
#filme-principal{
    background: url(/assets/img/filme-SpiderMan.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.titulo-filme-principal{
    margin-left: 2.5rem;
}

.titulo-filme-principal img{
    height: 8rem;
    margin-bottom: 2rem;
}

.titulo-filme-principal p {
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
    width: 30rem;
    height: 10rem;
}


.Btn-filme-principal button{
    height: 2.5rem;
    padding: 0.5rem 1rem;
    margin-left: 0.6rem;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

.Btn-filme-principal button:hover{
    cursor: pointer;
    border: 1px solid;
}

.Btn-filme-principal button i{
    margin-right: 0.5rem;
}

.btnAssistir{
    background-color: #fff;
    color: #000;
}

.btnInfo{
    color: #fff;
    background-color: #6d6d6e72;
    text-shadow: black 0.1em 0.1em 0.2em;
}


.genero{
    margin: 1rem 0 0 1rem;
}

.genero h3{
    padding-bottom: 1rem;
    font-weight: bolder;
}