@media screen and (max-width:700px) {
    .container-header-nav{
        height: auto;
        background-color: var(--preto);
    }
    .flex-item1{
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .container-logo a img{
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .navigation{
        display: none;
    }

    .flex-item2 span{
        display: none;
    }

    .container-logo a{
        margin: 1rem 0 1rem 2rem;
    }

    .titulo-filme-principal p{
        width: auto;
        height: auto;
        margin-bottom: 2rem;
    }

    #filme-principal{
        height: 60vh;
    }
    
}